/***************************************
*  main.scss file
*  
*  All styles and over rides will be in this file
*  
**************************************** */
/***************************************
* Site   
**************************************** */
@font-face {
  font-family: "Varela Round";
  src: url("fonts/Varela_Round/VarelaRound-Regular.ttf"); }
@font-face {
  font-family: "Lato";
  src: url("fonts/Lato/Lato-Regular.ttf"); }
body, html {
  /*  min-height: 2000px; */ }

html, body, form, fieldset, table, tr, td, img {
  /* font: 100%/150% calibri,helvetica; */
  font-family: "Varela Round", Roboto, sans-serif;
  font-size: inherit; }

input, button, select, textarea, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

layer {
  margin: 50px 0; }

.button {
  border-radius: 25px;
  padding: 0px !important;
  margin-top: 14px;
  font-size: 9px;
  padding-left: 15px;
  padding-right: 5px;
  width: 75px;
  text-align: center;
  font-family: "Lato"; }

.button-blue {
  background-color: #267df4; }

.button-blue:hover {
  background-color: #0366ec !important;
  color: #fff !important; }

.button-green {
  background-color: clear; }

.button-clear {
  border: 1px solid #e7e7e7;
  margin: 20px auto 50px auto;
  height: 30px;
  font-size: 12px;
  line-height: 27px;
  width: 132px;
  display: block; }

.button-clear:hover {
  text-decoration: none;
  color: #26272d;
  box-shadow: 1px 1px 1px white, inset 0px 0px 0.5px #grey-medium;
  background-color: #e7e7e7;
  text-shadow: 1px 1px 1px white,inset -1px -2px 5px black;
  border: 1px solid lightgrey;
  cursor: pointer; }

.button-text-dark {
  color: #26272d; }

.button-text-white {
  color: #fff; }

.button-text-blue {
  color: #267df4; }

#intro-play-button > .fa-play {
  margin-right: 5px; }

#content-intro-iphone {
  display: block;
  margin: 0 auto;
  padding-top: 62px;
  width: 250px; }

h1 {
  font-size: 52px;
  text-align: center; }

h2 {
  font-size: 42px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 26px; }

h5 {
  font-size: 22px; }

p {
  font-size: 12px; }

h1, h2, h3, h4, h5, p {
  color: #8c8f94; }

nav .glyphicon {
  top: 0px; }
  nav .glyphicon.glyphicon-apple {
    font-size: 10px;
    margin-right: 5px; }

/********************* Header ******************************************** */
.active li, .active a {
  color: #fff; }

nav {
  font-family: "Lato";
  font-size: 12px; }
  nav.navbar {
    margin-bottom: 20px; }
  nav.navbar-default .navbar-toggle {
    border: none; }
  nav.navbar-default .navbar-collapse .button {
    margin-left: 8px; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #e7e7e7;
  color: #fff; }
.navbar-default .navbar-nav li > a:hover {
  background-color: #e7e7e7; }

.navbar-toggle {
  float: left;
  margin-left: 20px; }

#intro-title {
  margin-bottom: 40px; }

#intro-subtitle {
  color: #8c8f94;
  font-size: 20px;
  line-height: 26px;
  max-width: 600px;
  margin-bottom: 50px;
  margin: 0 auto 50px auto;
  text-align: center; }

/********************* Intro ******************************************** */
#header-intro {
  background-image: url("../images/intro-background.png");
  background-position: center bottom, left top;
  background-repeat: no-repeat;
  height: 744px;
  padding-top: 15px; }

/********************* Content-1-cols ********************************* */
#content-1-cols {
  margin-top: 50px; }

.fa-lock, .fa-clock {
  font-size: 25px; }

/********************* Content-2-phone ********************************* */
#content-2-phone {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #e7e7e7; }
  #content-2-phone h4:first-of-type {
    color: #26272d; }
  #content-2-phone .content-2-iphone6img {
    width: 451px; }
  #content-2-phone .button.button-clear {
    display: inline-block;
    margin: 20px 20px 0 20px; }

/* Extra Small Devices, Phones */
/* @media only (min-width : 768px) and (max-width : 992px) { */
@media screen and (min-width: 768px) and (max-width: 992px) {
  #content-2-phone .content-2-iphone6img {
    margin-left: -100px; }

  .footer-links ul:nth-of-type(3) {
    margin-top: 20px; } }
/********************* Content-3-global ********************************* */
/********************* Footer ********************************************* */
footer {
  margin: 50px auto 100px auto;
  border-top: 1px solid #e7e7e7; }
  footer p:first-of-type {
    margin-bottom: 25px; }
  footer .footer-socialicons {
    padding: 12px 12px 12px 0px; }
    footer .footer-socialicons svg, footer .footer-socialicons i {
      color: #8c8f94;
      margin: 10px; }
  footer ul {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px; }
  footer .footer-links ul {
    list-style-type: none;
    display: inline-block;
    margin: 0 22px; }
  footer .footer-links li:first-of-type {
    color: #26272d;
    font-size: 12px; }
  footer .footer-links li a {
    color: #8c8f94;
    font-size: 10px; }
  footer .applestorefooter {
    margin: 15px 15px 15px 0px; }

/*********************   ********************************* */
/*********************   ********************************* */
/*********************   ********************************* */

/*# sourceMappingURL=main.css.map */
